@model IEnumerable<SearcherApplication.Models.DataModels.SearchResult>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.SearchMessage</h2>

<div class="divTable">
    <div class="headRow">
        <div class="divCell">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </div>
        <div class="divCell">
            <strong>@Html.DisplayNameFor(model => model.Link)</strong>
        </div>
    </div>
    @foreach (var searchResult in Model)
    {
        <div class="divRow">
            <div class="divCell">
                @Html.DisplayFor(modelItem => searchResult.Title)
            </div>
            <div class="divCell">
                <a href="@searchResult.Link">@Html.DisplayFor(modelItem => searchResult.Link)</a>
            </div>
        </div>
    }
</div>

